span {
  color:red;
}

p, nav{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Oswald', sans-serif;
}


.header-container{
  display: flex;
  width: 100%;
  height: 400px;
  background-color: black;
  color: white;   
}



.header-left {
 width: 50%;
 text-align: center;
 align-self: center;
}
.header-right{
  width: 50%;
  align-self: center;
  max-height: 400px;
}
.header-right img {
max-width: 100%;
width: 690px;
 height: 400px;
}


@media (max-width:800px) {
  .header-container {
    display: flex;
    flex-direction: column;
    height: 423px;
    padding-top:35px;
    
  }

  .header-right{
    max-height: 300px;
    width: 100%;
    
  }
  .header-right img{
    height: 100%;
   width: 100%;
  }
}








.icon-container{
  background-color: black;
display: flex;
flex-wrap: wrap;
width: 100%;
height: 450px;
justify-content: space-evenly;
color: white;
border: 1px solid white;
border-left: none;
border-right: none;
}

.icons{
 display: flex;
flex-direction: column;
justify-content: space-evenly;

}

.icons img {
  width: 20%;  
  align-self: center;
}

@media(max-width:800px) {
  .icon-container{
    padding-top: 25px;
    text-align: center;
  }
}

@media(max-width:555px) {
  .icon-container{
    padding-top: 45px;
    height: 475px;
    text-align: center;
  }
}












.search-container {
  display: flex;
  height: 400px;
  text-align: center;
  background-color: black;
 flex-direction: column;
 color: white;
}

input{
  width: 50%;
}

.search-heading h1{
  padding: 25px;
}

.btn-group{
  display: flex;
 margin-top: 15px;
  align-self: center;
}







.Exercise-container {
  display: inline-block;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  }

.exercise-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 25px;
 
}

.exercise-cards img {
  width: 30%;
  display: flex;
  align-self: center;
}